<p>registro works!</p>
<section>
  <div class="example-label">LA FIJA</div>
  <div class="example-button-row">
    <button mat-stroked-button color="primary" routerLink="">Home</button >
  </div>
</section>

<form [formGroup]="form" class="registro-form" (ngSubmit) = "onSubmit()">
  <mat-form-field appearance="outline">
  <mat-label>Tipo de documento</mat-label>
  <mat-select formControlName="tipo_documento" required>
    <mat-option value="DNI">DNI</mat-option>
    <mat-option value="Carnet de extranjería">Carnet de extranjería</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Numero de documento</mat-label>
  <input matInput formControlName="numero_documento" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Nombre</mat-label>
  <input matInput formControlName="nombre" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Apellido</mat-label>
  <input matInput formControlName="apellido" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Fecha de nacimiento</mat-label>
  <input type="date" matInput formControlName="fecha_nacimiento" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Lugar de residencia</mat-label>
  <input matInput formControlName="lugar_residencia" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Telefono</mat-label>
  <input matInput formControlName="telefono" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>correo</mat-label>
  <input type="email" matInput formControlName="correo" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Password</mat-label>
  <input matInput type="password" formControlName="password" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Genero</mat-label>
  <mat-select formControlName="genero" required>
    <mat-option value="M">M</mat-option>
    <mat-option value="F">F</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Bono de bienvenida</mat-label>
  <input matInput formControlName="bono_bienvenida" required>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Token</mat-label>
  <input matInput formControlName="token" required>
</mat-form-field>

<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Registrar
  </button>
</form>


